src/XMLReader/MolSim.xsd

<?xml version="1.0"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:simpleType name="input_file">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:simpleType name="delta_t">
        <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>

    <xsd:simpleType name="end_time">
        <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>

    <xsd:simpleType name="output_step">
        <xsd:restriction base="xsd:double"/>
    </xsd:simpleType>

    <xsd:simpleType name="algorithm">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="sv"/>
            <xsd:enumeration value="lj"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="benchmark">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="yes"/>
            <xsd:enumeration value="no"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="molsim">
        <xsd:sequence>
            <xsd:element name="input_file" type="input_file"/>
            <xsd:element name="delta_t" type="delta_t"/>
            <xsd:element name="end_time" type="end_time"/>
            <xsd:element name="output_step" type="output_step"/>
            <xsd:element name="algorithm" type="algorithm"/>
            <xsd:element name="benchmark" type="benchmark"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="molsim" type="molsim"/>

</xsd:schema>